
/* body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #130f40;
  font-family: 'Lato' !important;
} */
.search-box{
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 3.2%;
  background-color: #473939;
  width: fit-content;
  height: fit-content;
  position: relative;
  box-sizing: border-box;
}
.input-search{
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: #677f81;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color:#0f0b0b ;
  box-sizing: border-box;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  box-sizing: border-box;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  border-radius: 5px;
  background-color:transparent;
  pointer-events: painted;  
  box-sizing: border-box;
  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 5px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  box-sizing: border-box;
}
.input-search:focus{
  /* width: 300px; */
  border-radius: 5px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  box-sizing: border-box;
}

